<div class="docs-primary-header mat-elevation-z6">
    <h1>Grouping of all Calls For Papers</h1>
</div>

<div class="content">

    <mat-form-field>
        <mat-label>Filter by title/description</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. management">
    </mat-form-field>

    <form id="formFiltre" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

        <span>
            <input id="none" type="radio" value='None' formControlName="rank">
            <label for="none">None</label>
        </span>
        <span>
            <input id="cnrs" type="radio" value='CNRS' formControlName="rank">
            <label for="cnrs">CNRS</label>
        </span>
        <span>
            <input id="fnege" type="radio" value='FNEGE' formControlName="rank">
            <label for="fnege">FNEGE</label>
        </span>
        <span>
            <input id="hceres" type="radio" value='HCERES' formControlName="rank">
            <label for="hceres">HCERES</label>
        </span>

        <button class="btn" type="submit">Filter by rank</button>
    
    </form>

    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let item">
                {{ item.title }}
                <div>
                    <a mat-button class="btn-details" href="{{ item.url }}" target="_blank">
                        View details<span class="material-icons icon" style="margin-left: 6px;">visibility</span>
                    </a>
                </div>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="journal">
            <th mat-header-cell *matHeaderCellDef> Journal </th>
            <td mat-cell *matCellDef="let item"><button mat-button class="mat-button-size" (click)="openDialog(item.fk_revue)">{{item.fk_revue | getRevueNameById | async}}</button></td>
        </ng-container>
        
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let item" style="text-align: justify;">{{ item.desc }}</td>
        </ng-container>

        <ng-container matColumnDef="deadline" class="deadline_cell">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
            <td mat-cell *matCellDef="let item" >
                <span *ngIf="item.deadline !== null; else empty_deadline">{{ item.deadline | date :'yyyy-MM-dd' }}</span>
            </td>
        </ng-container>

        <ng-template #empty_deadline>
            <span>Date not found</span>
        </ng-template>

        <ng-container matColumnDef="SJR">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SJR </th>
            <td mat-cell *matCellDef="let item" [innerHTML]="item.fk_revue | getWidgetSjr | async" id="sjr"></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> 

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>