<div class="docs-primary-header mat-elevation-z6">
    <h1>Grouping of all Calls For Papers</h1>
</div>

<div class="content">

    <mat-form-field>
        <mat-label>Filter by title/journal/description</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. management">
    </mat-form-field>

    <form class="quickSearchForm" [formGroup]="checkoutForm" (ngSubmit)="onSubmitQuickSearch()">
        <div>
            <strong style="margin-right: 10px;">Rank :</strong>
            <select name="rank" formControlName="rank" [ngModel]="'None'">
                <option value="None" selected>None</option>
                <option value="CNRS">CNRS</option>
                <option value="FNEGE">FNEGE</option>
                <option value="HCERES">HCERES</option>
            </select>
        </div>
    
        <div>
            <strong style="margin-right: 10px;">Publisher :</strong>
            <select name="editeurs" formControlName="editeur" [ngModel]="'all'">
                <option value="all" selected>All</option>
                <option *ngFor="let editeur of editeurList" value="{{ editeur.id }}">
                    {{ editeur.name }}
                </option>
            </select>
        </div>
    
        <button class="btn" type="submit">
            Search
            <span class="material-icons icon">search</span>
        </button>
    </form>

    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let item">
                {{ item.title }}
                <div>
                    <a mat-button class="btn-details" href="{{ item.url }}" target="_blank">
                        View details<span class="material-icons icon">visibility</span>
                    </a>
                </div>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="journal">
            <th mat-header-cell *matHeaderCellDef> Journal </th>
            <td mat-cell *matCellDef="let item"><button mat-button class="mat-button-size" (click)="openDialog(item.fk_revue)">{{item.fk_revue | getRevueNameById | async}}</button></td>
        </ng-container>
        
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let item" style="text-align: justify;">
                <span *ngIf="item.desc.length <= 500">{{ item.desc }}</span>
                <span *ngIf="item.desc.length > 500">{{ item.desc.substring(0, 500).concat('...') }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="deadline" class="deadline_cell">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </th>
            <td mat-cell *matCellDef="let item" >
                <span *ngIf="item.deadline !== null; else empty_deadline">{{ item.deadline | date :'yyyy-MM-dd' }}</span>
                <ng-template #empty_deadline>
                    <span>Date not found</span>
                </ng-template>
            </td>
        </ng-container>

       

        <ng-container matColumnDef="SJR">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SJR </th>
            <td mat-cell *matCellDef="let item" [innerHTML]="item.fk_revue | getWidgetSjr | async" id="sjr"></td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> 

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>