/* Structure */
table {
  width: 100%;
  /* table-layout: fixed; */
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  vertical-align: middle;
}

.mat-row {
  height: 90px;
}

.mat-row:nth-child(even) {
  background-color: #E8E7E7;
}

.mat-column-deadline {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 7% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-title {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-journal {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-SJR {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 7% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-cell {
  padding: 10px;
}

.mat-button-size {
  width: 220px!important;
  min-width: unset!important;
  white-space: pre-wrap !important;
  line-height: normal;
  text-decoration: underline;
}

.mat-button-size:hover {
  color: orange;
}

.btn {
  display: flex;
  align-items: center;
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 15px;
}

.btn-details {
  background-color: #673ab7;
  border: none;
  color: white;
  padding: 0px 16px;
  text-align: center;
  transition: 0.3s;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 8px;
}

.btn:hover {
  opacity: 1
}

.btn-details:hover {
  transform: scale(1.1); 
}

.icon {
  font-size: 16px;
  margin-left: 6px;
}

#sjr {
  transition: transform .2s;
}

#sjr:hover {
  position: relative;
  transform: scale(2.5);
  border: none;
  z-index: 200;
}

.quickSearchForm {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 37%;
  margin-bottom: 15px;
}

select {
  width: 150px;
  height: 30px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 2px 2px #ccc;
}