<h1 mat-dialog-title>Journal informations</h1>
<div mat-dialog-content>
  <label><b>Name           :</b> {{ data.revue.name }}</label>
  <br>
  <br>
  <label><b>Rank FNEGE     :</b> {{ data.revue.rankFNEGE }}</label>
  <br>
  <br>
  <label><b>Rank HCERES    :</b> {{ data.revue.rankHCERES }}</label>
  <br>
  <br>
  <label><b>Rank CNRS      :</b> {{ data.revue.rankCNRS }}</label>
  <br>
  <br>
  <label><b>Is Open Source :</b> {{ data.openAccess }}</label>
</div>
<div mat-dialog-actions>
  <br>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
</div>
