<div> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button id="logo" routerLink="/home">
      <img src="../../assets/images/logo.png" alt="Yo" width="165" height="66">
    </a>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/home">All Calls</a>
    </div>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/advanced-search">Advanced search</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about-us">Calls</a>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>