<div> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button routerLink="/home" style="padding-top: 15px; padding-bottom: 10px;">
      <img src="../../assets/images/logo.png" alt="Yo" width="100" height="40">
    </a>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/home">All Calls</a>
    </div>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/rankings">Rankings</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about-us">Calls</a>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<div class="docs-primary-header mat-elevation-z6">
  <h1>Grouping of all Calls For Papers</h1>
</div>