/* ############### STYLE COMMUN ################## */

body {
  margin: 0;
  padding: 1rem;
}

.masonry-with-columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;  
  margin-top: 2%;
  margin-left: 2%;
  
}

.masonry-with-columns-2 div {
 margin-right: 2%; max-height: 600px;
  padding: 20px;
  box-shadow: 5px 5px #ccc;
  color: #f8f8f8;
  margin: 0 1rem 1rem 0;
  font-weight: 900;
  font-size: 2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

/* ############### STYLE : STATS DU NB DE CALLS PAR REVUE ################## */

/* Div principal */
.stats_revue {
  background-color: #73439b;
  width: 38%;
  border-radius: 25px;
}

/* Zone de recherche */ 
.mat-form-field {
  color: black;
  font-size: 14px;
  height: 10%;
  width: 100%;
}

/* Structure - Tableau */
table {
  overflow-y: scroll;
  height: 405px;
  display: block;
}

.mat-button-size:hover {
  color: orange;
}

.mat_row {
  max-height: 10px;
}

.mat-row:nth-child(even) {
  background-color: #E8E7E7;
}

/* Div concernant le tableau */
.table_stats_revue {
  background-color: #f7f7f7;
  border-radius: 25px;
  margin-right: 2%;
  height: 450px;
} 

/* ############### STATS DU NB DE CALLS PAR REVUE ################## */

.stats_editeurs {
  width: 55%;
  border-radius: 25px;
  background-color: #73439b;
}

.pie_editeur{
  border-radius: 25px;
  height: 80%;
  background-color: #f7f7f7;
}

/* ############### STATS DU NB DE CALLS PAR MOIS ################## */

.stats_mensuel {
  width: 80%;
  border-radius: 25px;
  background-color: #73439b;
}

.chart_mois{
  border-radius: 25px;
  height: 80%;
  background-color: #f7f7f7;
}